
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FA8072;
        }
        nav {
            background-color: #333;
            padding: 10px 0;
            text-align: center;
        }
        nav a {
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            margin: 0 10px;
        }
        nav a:hover {
            background-color: #575757;
        }
        section {
            padding: 20px;
        }
        footer {
            background-color: white;
            color: rgb(237, 141, 119);
            text-align: center;
            padding: 10px 0;
        }
    